/*  

You cannot edit main style.css file.

All your custom style settings and tweaks can be placed here.

Backup this file before theme update - so after update can be restored!
 
*/

.stuff,
#header_bottom{ height:140px; bottom:0px; } /* slider + logo section height */

.stuff .flexhead{ height:110px; }

.logo_bottom img{height:100px;}

#servicesbox li p{ height:190px; overflow:hidden;}

#servicesbox li:hover{ background: #e1f0fa;}

.section_template h2 { color:#fff !important; text-shadow:1px 1px 0 #000}

.container_block{padding-top:110px !important; margin-bottom:40px !important;}

.mainflex ul.slides>li{
  background: white;
}

@font-face{ 
	font-family: 'ScalaSansBoldUpcase';
	src: url('font/scalasanssccomppro-bold-webfont.eot');
	src: url('font/scalasanssccomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/scalasanssccomppro-bold-webfont.woff') format('woff'),
	     url('font/scalasanssccomppro-bold-webfont.ttf') format('truetype'),
	     url('font/scalasanssccomppro-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'ScalaSansBold';
	src: url('font/scalasanscomppro-bold-webfont.eot');
	src: url('font/scalasanscomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/scalasanscomppro-bold-webfont.woff') format('woff'),
	     url('font/scalasanscomppro-bold-webfont.ttf') format('truetype'),
	     url('font/scalasanscomppro-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'ScalaSansRegularUpcase';
	src: url('font/scalasanssccomppro-webfont.eot');
	src: url('font/scalasanssccomppro-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/scalasanssccomppro-webfont.woff') format('woff'),
	     url('font/scalasanssccomppro-webfont.ttf') format('truetype'),
	     url('font/scalasanssccomppro-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'ScalaSansRegular';
	src: url('font/scalasanscomppro-webfont.eot');
	src: url('font/scalasanscomppro-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/scalasanscomppro-webfont.woff') format('woff'),
	     url('font/scalasanscomppro-webfont.ttf') format('truetype'),
	     url('font/scalasanscomppro-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'LetterwerkBold';
	src: url('font/letterwerk_-_carrosserie-bold-webfont.eot');
	src: url('font/letterwerk_-_carrosserie-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/letterwerk_-_carrosserie-bold-webfont.woff') format('woff'),
	     url('font/letterwerk_-_carrosserie-bold-webfont.ttf') format('truetype'),
	     url('font/letterwerk_-_carrosserie-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'LetterwerkRegular';
	src: url('font/letterwerk_-_carrosserie-regular-webfont.eot');
	src: url('font/letterwerk_-_carrosserie-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/letterwerk_-_carrosserie-regular-webfont.woff') format('woff'),
	     url('font/letterwerk_-_carrosserie-regular-webfont.ttf') format('truetype'),
	     url('font/letterwerk_-_carrosserie-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'LetterwerkThin';
	src: url('font/letterwerk_-_carrosserie-thin-webfont.eot');
	src: url('font/letterwerk_-_carrosserie-thin-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/letterwerk_-_carrosserie-thin-webfont.woff') format('woff'),
	     url('font/letterwerk_-_carrosserie-thin-webfont.ttf') format('truetype'),
	     url('font/letterwerk_-_carrosserie-thin-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'LetterwerkLight';
	src: url('font/letterwerk_-_carrosserie-light-webfont.eot');
	src: url('font/letterwerk_-_carrosserie-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/letterwerk_-_carrosserie-light-webfont.woff') format('woff'),
	     url('font/letterwerk_-_carrosserie-light-webfont.ttf') format('truetype'),
	     url('font/letterwerk_-_carrosserie-light-webfont.svg#webfont') format('svg');
}

body{
  font-family: 'LetterwerkLight', Helvetica, Arial, sans-serif !important;
  color: #4d4d4d;
}

a:focus{
  outline: 0px;
}

/* header and nav */

#header{
  background-image: none;
  box-shadow: none;
  background-color: #f0f2f2 !important;
  position: relative;
}

.page #header, .single #header, .post #header, .search #header{
  position: fixed;
  top: 0px;
}

.home #header .container{
  padding: 10px 0px;
}

#header .container{
  max-width: 96% !important;
}

#logo_small{
  width: 360px;
  height: auto !important;
}

#navigation h1 a, #navigation h1 a:hover{
  font-family: 'LetterwerkThin', Helvetica, Arial, sans-serif;
  color: #4d4d4d !important;
}

#navigation h1{
  position: relative;
  top: auto;
  left: auto;
}

#nav li a, #main-nav a{
  font-family: 'LetterwerkLight', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 0.07em;
  color: #243644;
}

#nav li.shopping_cart_nav{
  display: none;
}

#main-nav li.shopping_cart_nav{
  margin-top: 5px;
}

#main-nav li.shopping_cart_nav a{
  display: inline;
  width: auto;
  height: auto;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 1.3em;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

#main-nav li.shopping_cart_nav a:hover{
  text-decoration: underline;
}

#main-nav li.shopping_cart_nav a:before{
  content: "\f07a";
}

#navigation h1{
  margin-top: 0.55em !important;
}

.bigmenu>.navi>li>a, .bigmenu>.scroll>li>a{
  padding: 10px 20px 7px 20px;
}

#nav li a:hover, #main-nav a:hover, #navigation a:hover, #main-nav .current-menu-item a, #nav .current-menu-item.current a, a:hover, .entryfull a, .nav_item a:hover{
  text-decoration: underline;
}

#navigation ul li a{
  border: 0px;
}

.bigmenu .navi, .bigmenu .scroll{
  padding: 15px 0 11px 0;
}

#nav.scroll li:first-child, #main-nav li:first-child{
  display: none;
}

/* end */

/* sticky header - homepage */

/* end */

/* product page secondary nav */
.nav_item{
  position: fixed;
  top: 56px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding-top: 6px;
  z-index: 100;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #dddddd;
  color: #cccccc;
}

.nav_item a span{
  font-size: .6em;
}

.back_to_collection{
  text-align: center;
}

.previous_product, .next_product{
  position: absolute;
}

.previous_product{
  left: 100px;
  top: 9px;
}

.next_product{
  right: 100px;
  top: 9px;
}

/* end */

/* homepage collections */

#main #collection {
  padding: 0px 10%;
}

#main #collection .container {
  padding: 0px;
  text-align: center;
}

#main #collection .container pre {
  white-space: normal;
}

#main #collection .container .tmnf-sc-box {
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif !important;
  border: 0px; background-color: white;
  width: 70%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 4.5em;
  font-size: 1.3em;
  white-space: normal;
}

#main #collection .container .tmnf-sc-box strong {
  font-family: 'LetterwerkBold', Helvetica, Arial, sans-serif !important;
  display: block;
  text-transform: uppercase;
  color: #243644;
  font-size: .9em;
  margin-bottom: .5em;
}

#main #collection .loop {
  width: inherit;
  margin-top: 3em;
  margin-bottom: 10em;
}

#main #collection .loop .collection-item-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

#main #collection .loop .collection-item {
  width: 99%;
  height: auto;
}

#main #collection .loop .collection-item .imgwrap {
  width: 100%;
  height: 100%;
  background: white;
  border: 0px;
}

#main #collection .loop .collection-item .imgwrap a {
  display: block;
  width: 100%;
  height: 100%;
}

#main #collection .loop .collection-item .imgwrap a img {
  width: 100%;
  height: auto;
}

#main #collection .loop .collection-item .hover_box_info {
  display: none;
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 300px;
  height: 200px;
  background-color: white;
  opacity: .8;
  z-index: 10;
}

#main #collection .loop .collection-item:hover .hover_box_info{
  display: block;
}

#main #collection .loop .collection-item .hover_box_info h3 {
  font-family: 'LetterwerkThin', Helvetica, Arial, sans-serif !important;
  font-size: 2em;
  margin: 25px 25px 10px 25px;
  white-space: normal;
}

#main #collection .loop .collection-item .hover_box_info p{
  width: 250px;
  white-space: normal;
  line-height: 1.3em;
  font-size: 1.1em;
  margin: 0 25px;
  text-align: center;
}

#main #collection .hover_box_info .portfolio-feature-link{
  display: block;
  width: 110px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0 auto;
  font-family: 'LetterwerkRegular', Helvetica, Arial, sans-serif;
  margin-top: 1em;
}

/* end */

/* archive section */

#archive_posts {
  width: 100%;
  margin-bottom: 10em;
}

#archive_posts .loop {
  width: 100%;
}

#archive_posts .loop .collection-item-container {
  width: 48%;
  height: 250px;
  float: left;
  list-style: none;
  margin-bottom: 3em;
}

#archive_posts .loop .collection-item-container .collection-item {
  position: relative;
  width: 100%;
  height: 100%;
}

#archive_posts .loop .collection-item-container .collection-item .imgwrap {
  width: 100%;
  height: 100%;
  background: white;
}

#archive_posts .loop .collection-item-container .collection-item .imgwrap a {
  display: block;
  width: 100%;
  height: 100%;
}

#archive_posts .loop .collection-item-container .collection-item .imgwrap a img {
  height: auto;
  width: 100%;
}

#archive_posts .loop .collection-item-container .collection-item .hover_box_info {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .8;
  z-index: 10;
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif !important;
  text-align: center;
}

#archive_posts .loop .collection-item .hover_box_info h3 {
  font-family: 'LetterwerkThin', Helvetica, Arial, sans-serif !important;
  font-size: 2em;
  margin: 25px 25px 10px 25px;
  white-space: normal;
}

#archive_posts .loop .collection-item .hover_box_info p{
  width: 250px;
  white-space: normal;
  line-height: 1.3em;
  font-size: 1.1em;
  margin: 0 auto;
  text-align: center;
}

#archive_posts .hover_box_info .portfolio-feature-link{
  display: block;
  width: 110px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0 auto;
  font-family: 'LetterwerkRegular', Helvetica, Arial, sans-serif;
  margin-top: 1em;
}

#archive_posts .loop .collection-item-container .collection-item:hover .hover_box_info {
  display: block;
}

/* end */

/* product page */

.container,
#gatherings_content{
  max-width: 1130px !important;
}

.hrlineB, .hrline, .flex-direction-nav, #foliosidebar .meta, #menu-item-48{
  display: none !important;
}

#foliocontent{
  margin-bottom: 20px;
  width: 59%;
  min-height: 300px;
}

.flex-control-paging{
  position: static;
  width: 100%;
  text-align: center;
}

h2.itemtitle{
  font-family: 'LetterwerkThin', Helvetica, Arial, sans-serif !important;
  width: 100%;
  text-align: center;
  float: none;
  margin-bottom: 85px;
  font-weight: normal;
  color: #243644;
  letter-spacing: .03em !important;
  font-size: 2.8em;
}

.container .item_header{
  position: absolute;
  top: 150px;
  left: 23%;
  width: 55%;
  border: 0px;
  background-color: white;
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif !important;
  font-size: 1.2em;
  color: #243644;
  text-align: center;
  line-height: 1.4em;
}

#item_content{
  width: 38%;
  max-width: 350px;
  position: absolute;
  top: 250px;
  left: 700px;
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif !important;
  line-height: 1.5em;
}

#item_content strong{
  font-family: 'ScalaSansBold', Helvetica, Arial, sans-serif !important;
  color: #243644;
  text-transform: uppercase;
}

#item_content .tmnf-sc-box {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'ScalaSansBold', Helvetica, Arial, sans-seif;
  letter-spacing: 0.17em;
  border-width: 1px 0 1px 0;
}

.flex-control-nav li a {width: 16px; height: 20px; display: block; background:url(images/icons/bullets.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;opacity:1}
.mainflex .flex-control-nav li a {background:url(images/icons/bullets.png)}

.flex-control-paging{ margin: 7px 0px; }

/* end */

#push_up{
  height: 10em;
  background-color: white;
}

/* static pages */

.entryfull{
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}

.entryfull ul{
  margin-bottom: 20px;
  font-family: "ScalaSansRegular", Helvetica, Arial, sans-serif;
}

.entryfull ul li{
  list-style: circle;
  margin-left: 20px;
  margin-bottom: 10px;
}

.page-id-117 .entryfull, .page-id-194 .entryfull, .page-id-192 .entryfull, .page-id-196 .entryfull{
  width: 60%;
}

.entryfull hr{
  border-color: #dddddd;
}

.entryfull p{
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif;
}

.entryfull strong, .entryfull b{
  font-family: 'LetterwerkBold', Helvetica, Arial, sans-serif;
  color: #243644;
}

.entryfull img.alignnone{
  position: absolute;
  top: -300px;
  left: 42%;
  z-index: 1000;
}

/* gatherings page */

.gatherings_header {
  padding: 90px 0 50px 0;
  background-color: #243644;
  color: #cccccc;
}

.gatherings_header img.aligncenter{
}

.gatherings_header h2{
  display: block;
  font-family: 'LetterwerkLight', Helvetica, Arial, sans-serif;
  color: #cccccc;
  text-align: center;
  font-size: 13px;
}

.gatherings_header .-content{
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  border: 0px;
}

#gatherings_products{
  display: inline-block;
  background: #e3e3e3;
  margin-top: 3em;
  margin-bottom: -4em;
  width: 100%;
  padding: 50px 0px;
}

#gatherings_products h3{
  font-family: 'LetterwerkThin', Helvetica, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  color: #243644;
  line-height: 1em;
}

#gatherings_products #products_list{
  display: inline-block;
  width: 100%;
}

#gatherings_products #products_list .-content{
  width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

#gatherings_products #products_list a{
  float: left;
  margin-right: 2%;
  position: relative;
  min-height: 1px;
  width: 48%;
  text-align: center;
  border-top: 1px solid #dddddd;
  font-family: 'LetterwerkRegular', Helvetica, Arial, sans-serif;
  padding: 3px 0px;
}

#gatherings_products_section #products_list a:hover{
  color: #243644;
}
/* end */

/* search */

.search #content.twelvecol{
  width: 60%;
  margin: 0 auto;
  float: none;
}

.search #content.twelvecol h4{
  text-align: center;
}

/* end */

.section_template{
  background-color: #243644;
}

.section_template .container{
  padding: 305px 2% 75px 2%;
}

.container .heading{
  margin-top: 3em;
}

.container .heading h2{
  font-family: 'LetterwerkThin', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #243644;
  font-size: 3em;
}

.container .heading p{
  font-family: 'ScalaSansRegular', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#footer{
  display: block;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.page #footer, .single #footer, .post #footer, .search #footer{
  position: fixed;
}

#footer .container{
  max-width: 95% !important;
  margin: 0 auto;
}

#copyright .center_footer{
  width: 360px;
  margin: 0 auto;
}

#copyright .fr{
  font-size: 1.4em;
}

#footer_pages li a{
  letter-spacing: .09em;
}

#copyright .fr .social_icon{
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  background-image: url('http://www.deptofdecoration.com/wordpress/wp-content/uploads/2014/04/social.png');
  width: 22px;
  height: 22px;
}

#copyright .fr .social_icon.facebook:hover{
  background-position: 0px 23px;
}

#copyright .fr .social_icon.pinterest{
  background-position: 22px 0px;
}

#copyright .fr .social_icon.pinterest:hover{
  background-position: 22px 22px;
}

#copyright .fr .social_icon.instagram{
  background-position: 44px 0px;
}

#copyright .fr .social_icon.instagram:hover{
  background-position: 44px 22px;
}

#copyright .fr .social_icon.twitter{
  background-position: 66px 0px;
}

#copyright .fr .social_icon.twitter:hover{
  background-position: 66px 22px;
}

#copyright .instaemail{
  margin: 0px;
  float: right;
}

#copyright #footer_pages li{
  float: left;
  margin-right: 20px;
  font-size: 1.4em;
}

#copyright .fl form{
  margin: 0px;
  float: right;
  width: 170px;
  border: 0px;
  padding: 1px;
}

#copyright .fl .icon-search{
  float: left;
  padding: 4px 6px;
  line-height: 18px;
  font-size: 1.2em;
  background: rgb(231, 231, 231);
}

#copyright .fl form input{
  padding: 4px;
  color: #333;
}

#copyright .fl form input.searchSubmit{
  display: none;
}

.single-myportfoliotype .attachment-folio_slider{
  display: none;
}

#clientsbox{
  margin: 40px 0px 0px 10px;
}

#clientsbox .clients{
  height: auto;
}

#clientsbox li{
  width: 23%;
  text-align: center;
  margin: 0px 1%;
  margin-bottom: 1em;
  color: #6B6B6B;
  line-height: 1.4em;
}

#clientsbox li h3{
  color: #243644;
  font-family: 'LetterwerkBold', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

#staff-wrap .warpbox{
  width: 100%;
}

#staff-wrap li.staff{
  width: auto;
  float: none;
  margin: 0px;
  color: #333;
}

#staff-wrap li.staff h3{
  color: #243644;
  font-family: 'LetterwerkBold', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

#show_hide_arrow{
  width: auto;
  height: 15px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: none;
}

/*iPad */

@media screen and (max-width: 770px){
  .container_block{
    padding-top: 0px !important;
  }
  .fourcol .item_full{
    min-height: 310px;
    height: auto;
  }
  .hover_box_info{
    top: 80px !important;
    left: 150px !important;
  }
  #copyright .center_footer{
    width: 100%;
    display: inline-block;
    margin-top: 15px;
  }
  #copyright .fr{
    float: left !important;
  }
  .entryfull{
    width: 100%;
  }
  .nav_item{
    position: relative;
    top: auto;
    margin-bottom: 3em;
  }
  .nav_item a{
    display: inline-block;
    width: 100%;
  }
  .nav_item a span{
    width: 100%;
    display: block;
    float: left;
  }
  .nav_item .next_product{
    position: relative;
    right: auto;
    top: auto;
  }
  .nav_item .previous_product{
    position: relative;
    left: auto;
    top: auto;
  }
  h2.itemtitle{
    margin-bottom: 1em;
  }
  .container .item_header{
    width: 100%;
    margin: 0px;
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 4em;
  }
  #item_content{
    width: 100%;
    max-width: 100%;
    position: relative;
    top: auto;
    left: auto;
  }
  .entryfull .aligncenter{
    display: none;
  }
  .entryfull .tmnf-sc-box{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    min-width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  .hotspot-container{
    width: 100%;
    z-index: 9999;
  }
  .hotspot-container img.popover-image{
    width: inherit;
  }
  #products_list{
    width: 100% !important;
  }
  #foliocontent{
    float: none;
    width: 100%;
  }
}

@media handheld, only screen and (max-width: 740px) {
  #main #collection .collection-item {
    height: 100% !important;
  }

  img.attachment-folio{
    margin-top: 0px !important;
  }

  #main #collection .container .imgwrap{
    min-height: 280px;
  }

  #main #collection .container .imgwrap a{
    color: white;
  }

  .hover_box_info{
    width: inherit !important;
    height: inherit !important;
    top: 0px !important;
    bottom: auto !important;
    left: 0px !important;
    right: auto !important;
  }
  .hover_box_info p{
    width: inherit !important;
  }
  .hover_box_info h3{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container_block{
    padding-top: 0px !important;
  }
  #footer{
   position: relative !important;
  }
  #clientsbox{
    margin: 0px;
  }
  #clientsbox li{
    width: 100%;
  }
  #staff-wrap li.staff{
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  .entryfull{
    width: 100%;
  }
  .nav_item{
    position: relative;
    top: auto;
    margin-bottom: 3em;
  }
  .nav_item a{
    display: inline-block;
    width: 100%;
  }
  .nav_item a span{
    width: 100%;
    display: block;
    float: left;
  }
  .nav_item .next_product{
    position: relative;
    right: auto;
    top: auto;
  }
  .nav_item .previous_product{
    position: relative;
    left: auto;
    top: auto;
  }
  #foliocontent{
    width: 100%;
  }
  h2.itemtitle{
    margin-bottom: 1em;
  }
  .container .item_header{
    width: 100%;
    margin: 0px;
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 4em;
  }
  #item_content{
    width: 100%;
    max-width: 100%;
    position: relative;
    top: auto;
    left: auto;
  }
  .entryfull .aligncenter{
    display: none;
  }
  .entryfull .tmnf-sc-box{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    min-width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  .hotspot-container{
    width: 100%;
    z-index: 9999;
  }
  .hotspot-container img.popover-image{
    width: inherit;
  }
  #products_list, #gatherings_products #products_list .-content{
    width: 100% !important;
  }
}